<h4 class="page-header">Shop</h4>
<h5>10er, 50er oder 100er-Karten erwerben</h5>
<hr>
<div class="row shop">
  <div class="col-xs-12 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        10er Karte
      </div>
      <div class="panel-body">
        zehn termine beliebig einteilen
      </div>
      <div class="panel-footer">
        <button class="btn btn-primary">Kaufen, 290,00€</button>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        50er Karte
      </div>
      <div class="panel-body">
        zehn termine beliebig einteilen
      </div>
      <div class="panel-footer">
        <button class="btn btn-primary">Kaufen, 1190,00€</button>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        100er Karte
      </div>
      <div class="panel-body">
        zehn termine beliebig einteilen
      </div>
      <div class="panel-footer">
        <button class="btn btn-primary">Kaufen, 1900,00€</button>
      </div>
    </div>
  </div>
</div>
